In [45]:
import pandas as pd
heart_data= pd.read_csv(r'D:\ML course practise\machine learning algorithm\boosting\ensemble_boosting\heart_disease.csv')
heart_data

,Is Chest Pain Present,Are any arteries blocked,Weight of the person,Is Heart Patient
0,YES,YES,205,YES
1,NO,YES,180,YES
2,YES,NO,210,YES
3,YES,YES,167,YES
4,NO,YES,156,NO
5,NO,YES,125,NO
6,YES,NO,168,NO
7,YES,YES,172,NO

In [46]:
a=heart_data['Is Heart Patient']
print(a)

0    YES
1    YES
2    YES
3    YES
4     NO
5     NO
6     NO
7     NO
Name: Is Heart Patient, dtype: object

In [47]:
a=heart_data['Is Heart Patient']
z=[]
for i in a:
    if i=='YES':
        a= 1
        z.append(a)
        print(a)
    if i=='NO':
        a= 0
        z.append(a)
        print(a)
print(z)

1
1
1
1
0
0
0
0
[1, 1, 1, 1, 0, 0, 0, 0]

In [48]:
heart_data['heart patient']=z
heart_data

,Is Chest Pain Present,Are any arteries blocked,Weight of the person,Is Heart Patient,heart patient
0,YES,YES,205,YES,1
1,NO,YES,180,YES,1
2,YES,NO,210,YES,1
3,YES,YES,167,YES,1
4,NO,YES,156,NO,0
5,NO,YES,125,NO,0
6,YES,NO,168,NO,0
7,YES,YES,172,NO,0

In [49]:
heart_data.drop(labels='Is Heart Patient',axis=1,inplace=True)

In [50]:
a=heart_data['Is Chest Pain Present']
z=[]
for i in a:
    if i=='YES':
        a= 1
        z.append(a)
        print(a)
    if i=='NO':
        a= 0
        z.append(a)
        print(a)
print(z)

1
0
1
1
0
0
1
1
[1, 0, 1, 1, 0, 0, 1, 1]

In [51]:
heart_data['Chest Pain Present']=z
heart_data

,Is Chest Pain Present,Are any arteries blocked,Weight of the person,heart patient,Chest Pain Present
0,YES,YES,205,1,1
1,NO,YES,180,1,0
2,YES,NO,210,1,1
3,YES,YES,167,1,1
4,NO,YES,156,0,0
5,NO,YES,125,0,0
6,YES,NO,168,0,1
7,YES,YES,172,0,1

In [52]:
heart_data.drop(labels='Is Chest Pain Present',axis=1,inplace=True)

In [53]:
a=heart_data['Are any arteries blocked']
z=[]
for i in a:
    if i=='YES':
        a= 1
        z.append(a)
        print(a)
    if i=='NO':
        a= 0
        z.append(a)
        print(a)
print(z)

1
1
0
1
1
1
0
1
[1, 1, 0, 1, 1, 1, 0, 1]

In [54]:
heart_data['arteries blocked']=z
heart_data

,Are any arteries blocked,Weight of the person,heart patient,Chest Pain Present,arteries blocked
0,YES,205,1,1,1
1,YES,180,1,0,1
2,NO,210,1,1,0
3,YES,167,1,1,1
4,YES,156,0,0,1
5,YES,125,0,0,1
6,NO,168,0,1,0
7,YES,172,0,1,1

In [55]:
heart_data.drop(labels='Are any arteries blocked',inplace=True,axis=1)
heart_data

   Weight of the person  heart patient  Chest Pain Present  arteries blocked
0                   205              1                   1                 1
1                   180              1                   0                 1
2                   210              1                   1                 0
3                   167              1                   1                 1
4                   156              0                   0                 1
5                   125              0                   0                 1
6                   168              0                   1                 0
7                   172              0                   1                 1

In [56]:
X=heart_data.drop(labels='heart patient',axis=1)
y=heart_data['heart patient']

In [60]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y=train_test_split(X,y,test_size=0.3,random_state=1)

In [61]:
from sklearn.ensemble import AdaBoostClassifier
boost = AdaBoostClassifier(base_estimator=None, n_estimators=50, learning_rate=1.0, algorithm='SAMME.R', random_state=None)
boost.fit(train_x, train_y)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None)

In [63]:
from sklearn.metrics import accuracy_score
y_pred = boost.predict(train_x)
predictions = [round(value) for value in y_pred]
accuracy = accuracy_score(train_y,predictions)
accuracy

1.0

In [66]:
y_pred = boost.predict(test_x)
predictions = [round(value) for value in y_pred]
accuracy = accuracy_score(test_y,predictions)
accuracy

0.0

In [65]:
test_y

7    0
2    1
1    1
Name: heart patient, dtype: int64

In [67]:
test_x

   Weight of the person  Chest Pain Present  arteries blocked
7                   172                   1                 1
2                   210                   1                 0
1                   180                   0                 1